doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://code.jquery.com/jquery-2.1.3.js")
    script(src="https://cdn.socket.io/socket.io-1.2.0.js")
    script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDM-Lcy-RSHrj9Fx7TZ9YmuCYx6Idab004&sensor=false;")
    script(src="/javascripts/demo.js")
  body
    block content
    